.container {
    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video {
    width: 60vw;
    padding: 1rem;
    background-color: red;
}
